<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.cartamovil.bt"
        version="0.7.0">

  <name>Bt</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/Bt.js" target="js/Bt.js"/>

  <js-module src="www/Bt.js" name="bt">
    <clobbers target="bt" />
  </js-module>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Bt">
        <param name="android-package" value="com.cartamovil.plugin.Bt"/>
      </feature>
    </config-file>

    <source-file src="src/android/Bt.java" target-dir="src/com/cartamovil/plugin/"/>
      <source-file src="src/android/libs/RT_Android_Bluetooth_SDK.jar" target-dir="libs" />
  </platform>

  

</plugin>